<form>
    <input id="genderIn" type="text" placeholder="Gender" />
    <br />
    <input id="ageIn" type="text" placeholder="Age" />
    <br />
    <button id="btn" type="submit">Submit</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var gender = $("#genderIn").text();
    var age = $("#ageIn").text();
    $("#bnt").click(function () {
        alert("Gender = " + gender);
    });
</script>